<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout.html :: head"></head>
<body>

	<header th:replace="layout/layout.html :: header"></header>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<h4 class="card-title">
					<a class="btn btn-success btn-xs"  th:href="@{/mantenimiento/formMantenimiento/} + ${idEdificio}">Registrar Mantenimiento</a>
				</h4>											

				<table class="table table-striped table-bordered">
					<thead class="thead-inverse">
						<tr>
							<th>Id:</th>
							<th>Tipo:</th>
							<th>Precio:</th>
							<th>Proveedor:</th>
							<th>Edificio:</th>
							<th>Detalle</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="mantenimiento: ${mantenimientos}">
							<td th:text="${mantenimiento.id}"></td>
							<td th:text="${mantenimiento.mantenimientoTipo}"></td>
							<td th:text="${mantenimiento.precio}"></td>
							<td th:text="${mantenimiento.proveedor}"></td>
							<td th:text="${mantenimiento.edificio.id}"></td> 
							<td><a class="btn btn-primary btn-xs"
								th:href="@{/mantenimiento/verMantenimiento/} + ${mantenimiento.id}" th:text="ver"></a></td>
							<td><a class="btn btn-primary btn-xs"
								th:href="@{/mantenimiento/formMantenimiento/editar/} + ${mantenimiento.id}" th:text="editar"></a></td>
							<td><a class="btn btn-danger btn-xs"
								th:href="@{/mantenimiento/eliminar/} + ${mantenimiento.id}" th:text="eliminar"
								onclick="return confirm('Esta seguro que desea eliminar mantenimiento');"></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout.html :: footer"></footer>
</body>
</html>