<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout.html :: head"></head>
<body>
	<header th:replace="layout/layout.html :: header"></header>
	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				<form th:action="@{/edificio/formEdificio}" th:object="${edificio}"
					method="post">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">nombre </label>
						<div style="">
							<input type="text" th:field="*{nombre}"
								class="form-control" /> <small class="form-text text-danger"
								th:if="${#fields.hasErrors('nombre')}"
								th:errors="*{nombre}"></small>
						</div>
					</div>
					<div style="">
						<input type="submit" value="Registrar Edificio" />
					</div>
					<input type="hidden" th:field="*{id}" />
				</form>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout.html :: footer"></footer>
</body>
</html>
